name: Update Changelog

on:
  push:
    branches:
      - changelog
  release:
    types: [published]
  workflow_dispatch:

jobs:
  update-changelog:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: changelog

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Generate Changelog
        id: changelog
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          python scripts/update_changelog.py || exit 1 # Exit if script fails due to rate limit

      - name: Check for changes
        if: success()
        id: git_diff
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add changelog.json
          if git diff-index --quiet HEAD; then
            echo "No changes to commit"
            exit 0
          fi

      - name: Commit Changelog
        if: steps.git_diff.outputs.changes == 'true'
        run: |
          git commit -m "Update changelog"
          git push origin changelog
